<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>E-commerce store</title>
  <meta name="author" content="Hasan Hamdan">
  <meta name="description" content="MEET Y2 Ebay Website HTML">
  <link href="css/style.css" rel="stylesheet">
  <script src="main.js"></script>
  <style>
    body {
        background-color: white;} 
  </style>
</head>
<body>
  <center><h1 id = "title">Yzy</h1></center>
  <center><p>WELCOME TO YZY</p></center>
  <center><p>THE HOME OF UNIQUENESS </p></center>
  <center><img src=""></center> 
  <center><img src="https://assets-global.website-files.com/64a86d230c3e07ee19a9191b/64a86d270c3e07ee19aa3569_May%2031%20Yeezy%20Launch%20(620%20%C3%97%20380%20px)%20(1).png" width="500" height="600">
</center>
  <center><a href ={{url_for('product_page')}}>View More Products </a></center>

</body> 

</html>
